<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="grid">
    <ion-row class="fila">
      <ion-col size="12" class="columna">
        hola
      </ion-col>
    </ion-row>
    <ion-row class="fila">
      <ion-col size="6" class="columna"> 
        hola
      </ion-col>
      <ion-col size="3" class="columna">
        hola
      </ion-col>
    </ion-row>
    <ion-row class="fila">
      <ion-col size="1" class="columna">
        1
      </ion-col>
      <ion-col size="1">
        2
      </ion-col>
      <ion-col size="1" class="columna">
        3
      </ion-col>
      <ion-col size="1">
        4
      </ion-col>
      <ion-col size="8" class="columna">
        5
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
