<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" color="success" shape="round" routerLink="/alertas">
    Ir alertas
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/avatar">
    Ir avatar
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/check">
    Ir check
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/date-time">
    Ir DateTime
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/fab">
    Ir Fab
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/grid">
    Ir Grid
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/input">
    Ir Inputs
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/list">
    Ir List
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/list-reorder">
    Ir ListReorder
  </ion-button>
  <ion-button expand="full" color="success" shape="round" routerLink="/loading">
    Ir Loading
  </ion-button>
</ion-content>  